{% extends 'adminPortal/base.html' %} {% block title %} Index {% endblock %}{% block body %}
    <div class="row layout-top-spacing">
    
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <h2>{{title}}</h2>
            <div class="widget-content widget-content-area br-6">
                {% if messages %}
                    {% for message in messages %}
                        <alert {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </alert>
                    {% endfor %}
                {% endif %}
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Job</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in author_list %}
                                <tr>
                                    <td>{{ a.id }}</td>
                                    <td>{{ a.name }} {{ dlist.surname }}</td>
                                    <td>{{ a.job }}</td>
                                    <td><a href="{% url 'adminPortal:editauthor' id=a.id %}" class="btn btn-info btn-sm">Edit</a></td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="7">No Records Found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
	        
